@import url('https://fonts.googleapis.com/css?family=Numans');

html,body{
background-size: 50%;
background-repeat: no-repeat;
height: 25%;
font-family: 'Numans', sans-serif;
}
.vidcontainer {
width: 100%;
height: 150%;
position: absolute;
padding:0;
margin:0;
left: 0px;
top: 0px;
z-index: -1000;
overflow:hidden;
}

.video {
  min-height: 200%;
  min-width:100%;
  position:absolute;
  bottom:0;
  left:0;
}

.card-footer {
  background-color: #A5A7DE;
}
.video {
  height: 100%;
}
#error-box{
  display: none;
}

/* .container{
height: 100%;
align-content: center;
position: absolute;
top: 0;
left: 0;
} */

.card{
height: 33rem;
margin-top: auto;
margin-bottom: auto;
align-content: center;
position:flex;
width: 25rem;
background-color: rgba(0,0,0,0.5) !important;
top: 10%;
/*left: 12.5%;*/
}

/*.main-container{*/
/*display: flex;*/
/*justify-content: center;*/
/*align-items: center;*/
/*margin-top: 50px;*/
/*}*/
.container{
display: flex;
justify-content: center;
align-items: center;
}

.social_icon span{
font-size: 60px;
margin-left: 10px;
color: #A5A7DE;
}

.social_icon span:hover{
color: white;
cursor: pointer;
}

.card-header h3{
color: white;
}

.social_icon{
position: absolute;
right: 20px;
top: -45px;
}

.input-group-prepend span{
width: 50px;
background-color: #A5A7DE;
color: black;
border:0 !important;
}

input:focus{
outline: 0 0 0 0  !important;
box-shadow: 0 0 0 0 !important;

}

.remember{
color: white;
}

.remember input
{
width: 20px;
height: 20px;
margin-left: 15px;
margin-right: 5px;
}

.login_btn{
color: black;
background-color: #A5A7DE;
width: 100px;
}
.active {
  background-color: #4CAF50;
}
.login_btn:hover{
color: black;
background-color: white;
}

.links{
color: white;
}

.links a{
margin-left: 4px;
}

#header {
  background-color:white;
  text-align: center;
  text-shadow:
		-1px -1px 0 #000,
		1px -1px 0 #000,
		-1px 1px 0 #000,
		1px 1px 0 #000;
  margin-top: 0px
}

#signin {
  text-align:center;
}


h1 {
  font-size: 50px;
  color: #A5A7DE;
  font-family: arial black;
  margin-top: 0px;
  margin-bottom: 0px;
}

p {
  font-size: 25px;
  color: #635C56;
  font-family: arial;
}

h2 {
  font-size:32px;
  margin-top: 0px;
  font-family: arial;
  color: #212529
}
